@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    font-family: Poppins, sans-serif !important
}

:root {
    --black: #000;
    --white: #fff;
    --blue: #1394cd;
    --red: #e21e26;
    --grey: #555;
    --navy: #10132d;
    --light-navy: #161936;
    --h1-desktop-size: 2.2rem;
    --h1-mob-size: 2rem;
    --h2-desktop-size: 1.8rem;
    --h2-mob-size: 1.4rem;
    --h3-desktop-size: 1.4rem;
    --h3-mob-size: 1.2rem;
    --h4-desktop-size: 1.2rem;
    --h4-mob-size: 1rem;
    --h5-desktop-size: 1rem;
    --h5-mob-size: 0.83rem;
    --h6-desktop-size: 0.83rem;
    --h6-mob-size: 0.67rem;
    --heading-font-weight: 600;
    --para-desktop-size: 1rem;
    --para-mob-size: 1rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--heading-font-weight) !important
}

h1 {
    font-size: var(--h1-desktop-size) !important;
    text-transform: capitalize !important;
    margin-bottom: .8rem !important
}

h2 {
    font-size: var(--h2-desktop-size) !important
}

h3 {
    font-size: var(--h3-desktop-size) !important
}

h4 {
    font-size: var(--h4-desktop-size) !important
}

h5 {
    font-size: var(--h5-desktop-size) !important
}

h6 {
    font-size: var(--h6-desktop-size) !important
}

p,
p.para {
    font-size: var(--para-desktop-size) !important;
    color: var(--grey) !important;
    margin-bottom: .4rem !important
}

a {
    text-decoration: none !important
}

ul {
    list-style-type: none !important;
    padding-left: 0 !important
}

.blueFilledBtn:hover a,
.text--blue {
    color: var(--blue) !important
}

.text--red {
    color: var(--red) !important
}

.greyFilledBtn:hover a,
.swiper-button-next:after,
.swiper-button-prev:after,
.text--grey {
    color: var(--grey) !important
}

.dropdown .dropdown-menu .nav-item .dropdown-item.nav-link,
.dropdown .dropdown-menu .nav-item .dropdown-toggle.nav-link,
.text--black {
    color: var(--black) !important
}

#brandDetails,
.bg--blue {
    background-color: var(--blue) !important
}

.bg--red,
nav.navbar {
    background-color: var(--red) !important
}

.bg--grey,
.page-area #different {
    background-color: rgba(235, 235, 235, .829) !important
}

.bg--white {
    background-color: var(--white) !important
}

#topbar .MuiAvatar-root,
.greyFilledBtn {
    background-color: var(--grey) !important
}

.MuiListItemText-primary p {
    margin-bottom: 0 !important
}

.greyFilledBtn {
    padding: .5rem 1rem !important;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    -ms-border-radius: 50rem !important;
    -o-border-radius: 50rem !important;
    border: 2px solid var(--grey) !important
}

.greyFilledBtn a {
    color: var(--white) !important;
    font-size: .9rem
}

.accordion-button:not(.collapsed),
.blueFilledBtn:hover,
.greyFilledBtn:hover {
    background-color: #fff !important
}

.blueFilledBtn {
    background-color: var(--blue) !important;
    padding: .5rem 1rem !important;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    -ms-border-radius: 50rem !important;
    -o-border-radius: 50rem !important;
    border: 2px solid var(--blue) !important
}

#brandDetails p,
.active .title,
.blueFilledBtn a,
.locationBox:hover .title {
    color: #fff !important
}

#topbar .navbar-brand img {
    max-width: 40% !important;
    height: auto
}

@media only screen and (min-width:601px) and (max-width:992px) {
    #topbar .navbar-brand img {
        max-width: 100% !important
    }

    #topbar strong.callText {
        display: none
    }
}

@media only screen and (min-width:993px) and (max-width:1199px) {
    #topbar .navbar-brand img {
        max-width: 80% !important
    }
}

@media only screen and (min-width:1200px) and (max-width:1500px) {
    #topbar .navbar-brand img {
        max-width: 50% !important
    }
}

nav.navbar .navbar-brand {
    display: none
}

nav.navbar .navbar-nav .nav-item {
    margin-right: 1rem
}

#FeaturedHeatingServices h2,
#FeaturedHeatingServices h3,
nav.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white) !important
}

.dropdown3:hover .dropdown-menu-3,
.dropdown4:hover .dropdown-menu-4,
header ul li.nav-item.dropdown1:hover .dropdown-menu-1 {
    display: block
}

.dropdown2:hover .dropdown-menu-2 {
    display: block;
    left: 14.5rem;
    top: 0 !important
}

.dropdown5:hover .dropdown-menu-5 {
    width: 26rem;
    display: flex;
    flex-wrap: wrap
}

.dropdown5:hover .dropdown-menu-5 .nav-item {
    width: 46%
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important
}

@media only screen and (min-width:601px) and (max-width:1199px) {
    .dropdown5:hover .dropdown-menu-5 {
        left: -6rem !important
    }
}

@media only screen and (max-width:600px) {
    h1 {
        font-size: var(--h1-mob-size) !important
    }

    h2 {
        font-size: var(--h2-mob-size) !important
    }

    h3 {
        font-size: var(--h3-mob-size) !important
    }

    h4 {
        font-size: var(--h4-mob-size) !important
    }

    h5 {
        font-size: var(--h5-mob-size) !important
    }

    h6 {
        font-size: var(--h6-mob-size) !important
    }

    p,
    p.para {
        font-size: var(--para-mob-size) !important;
        color: var(--grey) !important
    }

    #topbar {
        display: none
    }

    nav.navbar {
        background-color: var(--white) !important
    }

    nav.navbar .navbar-brand {
        display: block;
        width: 43%
    }

    nav.navbar .navbar-nav .nav-item .nav-link {
        color: var(--black) !important
    }

    .navbar .blueBtn {
        padding: .3rem .6rem !important
    }

    .navbar .blueBtn a {
        font-size: .8rem
    }

    header {
        background-color: #fff
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 1;
        transition: .5s;
        overflow-y: scroll
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: .5s;
        z-index: 1;
        padding: .5rem 1rem
    }

    .nav-menu.active .navbar-nav {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow: hidden
    }

    .nav-menu.active .menu-icon {
        color: #fff !important
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
        left: 0;
        background-color: transparent;
        border: none;
        outline: 0
    }

    header nav.navbar {
        justify-content: flex-start
    }
}

.accordion-item {
    border: none !important;
    margin-bottom: 1.5rem !important
}

.accordion-button {
    align-items: center;
    justify-content: center;
    width: auto !important;
    flex-direction: row-reverse;
    padding: 0 !important
}

.form-control,
.uploadFile {
    padding: 1rem 2rem !important
}

.accordion-button::after {
    border: 2px solid #adadad !important;
    padding: 1rem;
    border-radius: 50%;
    margin: auto !important;
    background-position: center !important
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important
}

.accordion-collapse.collapse.show {
    transition: 2s !important;
    -webkit-transition: 2s !important;
    -moz-transition: 2s !important;
    -ms-transition: 2s !important;
    -o-transition: 2s !important
}

.form-group {
    margin-bottom: 1rem !important
}

#whyChoose p {
    font-size: 1.1rem !important
}

.MuiListItem-root {
    align-items: flex-start !important
}

.MuiListItemIcon-root {
    min-width: 2rem !important
}

.MuiListItemText-root {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.uploadFile {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    -ms-border-radius: 50rem !important;
    -o-border-radius: 50rem !important;
    background-color: #ced4da
}

.trusted {
    font-size: 1.5rem !important
}

.sidebar-sticky {
    top: 20% !important
}

#locationSec {
    width: 100%;
    height: auto;
    background-image: url(../public/areas/ariabg.webp);
    background-repeat: no-repeat;
    background-position: center
}

.locationBox {
    --initialBgColor: #fff;
    --slideBgColor: #0a2948;
    background-image: linear-gradient(90deg, var(--initialBgColor) 0, var(--initialBgColor) 50%, var(--slideBgColor) 50%, var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position 1.5s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    -webkit-transition: background-position 1.5s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    -moz-transition: background-position 1.5s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    -ms-transition: background-position 1.5s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    -o-transition: background-position 1.5s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    border: 1px solid #d6d6d6;
    border-radius: .5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: .5rem
}

.active,
.locationBox:hover {
    border: 1px solid #0a2948 !important
}

.locationBox:hover {
    color: #fff;
    cursor: pointer;
    background-position: -100% 100%
}

.locationBox .title {
    color: var(--blue) !important;
    font-weight: 600 !important
}

.active {
    background-image: linear-gradient(#0a2948, #0a2948);
    transition: background-position 1s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    -webkit-transition: background-position 1s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    -moz-transition: background-position 1s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    -ms-transition: background-position 1s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    -o-transition: background-position 1s cubic-bezier(.47, .1, 1, .63), color .2s linear
}

.coolingIcon {
    width: 70% !important;
}

.heatingLogo {
    width: 50%;
}