.hero {
    width: 100%;
    height: 65vh;
    background-image: url(../public/home/slider.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 8rem !important;
}

.bannerText {
    font-size: 2rem !important;
    font-weight: 600;
    color: var(--black) !important;
    text-shadow: 1px 1px #fff;
}

.circle {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 15%) !important;
}

.about {
    height: auto;
    width: 100%;
    background-image: url(../public/home/about-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 95vh;
        background-image: url(../public/home/slider-mobile2.webp);
        margin-top: 4.1rem !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .hero {
        background-image: url(../public/home/tab-compressed.webp);
    }
}


.tab {
    width: 41.05%;
    margin: 1rem auto;
    border-radius: 50rem !important;
    -webkit-border-radius: 50rem !important;
    -moz-border-radius: 50rem !important;
    -ms-border-radius: 50rem !important;
    -o-border-radius: 50rem !important;
}

.box1 {
    border-radius: 50rem 0 0 50rem !important;
    -webkit-border-radius: 50rem 0 0 50rem !important;
    -moz-border-radius: 50rem 0 0 50rem !important;
    -ms-border-radius: 50rem 0 0 50rem !important;
    -o-border-radius: 50rem 0 0 50rem !important;
    margin-right: 0 !important;
}

.box2 {
    border-radius: 0 50rem 50rem 0 !important;
    -webkit-border-radius: 0 50rem 50rem 0 !important;
    -moz-border-radius: 0 50rem 50rem 0 !important;
    -ms-border-radius: 0 50rem 50rem 0 !important;
    -o-border-radius: 0 50rem 50rem 0 !important;
    margin-right: 0 !important;
}

.inactive {
    background-color: var(--grey) !important;
}

@media only screen and (max-width: 600px) {
    .tab {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .tab {
        width: 73%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
    .tab {
        width: 64.6%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .tab {
        width: 51.2%;
    }
}

.sliderContainer,
.sliderContainer img {
    border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
}

.sliderContainer {
    position: relative;
    overflow: hidden;
}

.overview,
.overviewRed {
    background-color: #000c38ef;
    border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    overflow: auto;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
}

.overview::-webkit-scrollbar {
    display: none;
}

.sliderContainer:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sliderContainer:hover .overview,
.sliderContainer:hover .overviewRed {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.titleContainer,
.titleContainerRed {
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
    background-color: #000d3df6;
    transition: transform 1s ease-in-out;
}

.titleContainerRed {
    background-color: rgba(187, 0, 0, 0.938) !important;
}

.sliderContainer:hover .titleContainer,
.sliderContainer:hover .titleContainerRed {
    display: none;
}

.overviewRed {
    background-color: rgba(187, 0, 0, 0.938) !important;
}

.whyChoose {
    width: 100%;
    background-image:linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.4)), url(../public/home/whychoose.webp);
    background-repeat: no-repeat;
    background-position: -19% 0%;
}

.Appointment {
    width: 100%;
    height: 72vh;
    background-image: url(../public/home/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial {
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.4)),url(../public/home/testimonial.webp);
    background-repeat: no-repeat;
}

.subtitle{
    font-weight: 400 !important;
}


@media only screen and (max-width: 992px) {
    .whyChoose {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../public/home/whychoose.webp);
        background-position: center;
    }

    .Appointment {
        height: 24vh;
    }

    .testimonial {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url(../public/home/testimonial.webp);
    }
}

@media only screen and (max-width: 600px){
    .Appointment {
        height: 50vh;
    }
}